body{
    background-image:url("../../imgs/cobrinha.png")
}

h2{
    text-align: center;
    color: rgb(236, 59, 59);
    font-family: 'Franklin Gothic Medium';
    font-size: 45px;
}

.link{
    color: rgb(236, 59, 59);
}

form{
    border-color: black;
}

.p-2.border.border-primary.rounded, .table.table-hover{
    background-color: rgb(171, 224, 171);
    border-color: black;
}

.btn.btn-info, .btn.btn-warning{
   background-color: rgb(236, 59, 59);
   color: white;
   border-color: black;
}